<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-title> My Cart </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
        <img src="assets/imgs/avatar.png" alt="" />
      </ion-avatar>

      <!-- <ion-back-button defaultHref="/home"></ion-back-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  @if (productos.length>0) {

  <ion-list>
    @for (item of productos; track $index) {

    <ion-card class="ion-maring">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="item.imageUrl" alt="" />
        </ion-thumbnail>
        <ion-label>
          <ion-text class="title">
            {{ item.name }}
          </ion-text>
          <p>
            <ion-text> {{ item.description }} </ion-text>
          </p>
          <p class="price">
            <ion-text color="dark"> ${{ item.price }} </ion-text>
          </p>
        </ion-label>
        <ion-row slot="end">
          <ion-col>
            <ion-icon name="add" color="danger" (click)="addProduct($index)">
            </ion-icon>
          </ion-col>

          <ion-col class="qty">
            <ion-text> {{ item.quantity }} </ion-text>
          </ion-col>

          <ion-col>
            <ion-icon
              name="remove"
              color="danger"
              (click)="minusProduct($index)"
            >
            </ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>
    }
  </ion-list>
  }
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="light">
    <ion-item lines="none" color="light" class="total">
      <ion-label> Total </ion-label>
      <ion-text slot="end"> ${{ total | number }} </ion-text>
    </ion-item>
    <ion-button
      shape="round"
      [strong]="true"
      color="danger"
      expand="block"
      size="large"
      (click)="presentPaymentModal()"
    >
      <ion-text> Order now</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>
