<ion-header>
  <ion-toolbar>
    <ion-title>Repuestos de Motos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de productos -->
  <ion-list>
    <ion-item *ngFor="let producto of productos">
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>{{ producto.descripcion }}</p>
        <p>Precio: {{ producto.precio | currency }}</p>
        <p>Stock: {{ producto.stock }}</p>
      </ion-label>
      <ion-button (click)="agregarAlCarrito(producto)">Agregar al carrito</ion-button>
    </ion-item>
  </ion-list>

  <!-- Carrito de compras -->
  <ion-card *ngIf="carrito.length > 0">
    <ion-card-header>
      <ion-card-title>Carrito de Compras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of carrito">
          <ion-label>
            <h2>{{ item.nombre }}</h2>
            <p>{{ item.precio | currency }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button expand="full" (click)="realizarCompra()">Realizar compra</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>